version: '3.8'

services:
  mysql:
    image: mysql:8
    container_name: mysql-tp
    environment:
      MYSQL_ROOT_PASSWORD: ""
      MYSQL_DATABASE: TrabajoPractico
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 3s
      timeout: 2s
      retries: 30

  app:
    build: .
    container_name: proyecto-usuario
    ports:
      - "8090:8090"
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      - SPRING_PROFILES_ACTIVE=docker